* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#landing-page{
  background: url('../img/landingPage.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#startBtn {
  padding: 1rem 4rem;
  background: gray;
  color: #fff;
  font-size: 1rem;
}

#startBtn:hover {
  cursor: pointer;
}

#world {
  height: 85vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(30, 1fr);
  background: #87ceeb; /*#38B0DE*/
}

/*! ToolBar*/
img {
  width: 50px;
  height: 50px;
}

#toolBar {
  height: 15vh;
  background: gray;
  border-top: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#toolBar button {
  padding: 1rem 4rem;
}

#toolBar button:hover {
  cursor: pointer;
}

#inventory {
  display: flex;
}

#inventory > div{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#inventory div div{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

/*! Utilities*/
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.displayAll {
  display: all;
}

.displayNone {
  display: none;
}

/*! World Blocks */
.dirt {
  background: url('../img/worldBlocks/dirt.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.dirt:hover {
  opacity: 0.85;
}

.grass {
  background: url('../img/worldBlocks/grass.png') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.grass:hover {
  opacity: 0.85;
}

.wood {
  background: url('../img/worldBlocks/oakWood.png') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.wood:hover {
  opacity: 0.85;
}

.leaves {
  background: url('../img/worldBlocks/leaves.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.leaves:hover {
  opacity: 0.85;
}

.stone {
  background: url('../img/worldBlocks/stone.png') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.stone:hover {
  opacity: 0.85;
}

.cloud {
  background: white;
  width: 100%;
  height: 100%;
}